* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.gallery {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 24px;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: transform 250ms ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-image {
  height: 320px;
}
